body {
    background-color: #fadbc5;
    height: 100%;
    min-height: 100%;
}

header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    position:relative;
    height: 72px;
    width: 100%;
}

#nameplate {
    float: right;
    margin-left: auto;
    padding: 3px;
    font-size: 40px;
    line-height: 36px;
    font-family: 'Young Serif', serif;
    color: #fc4c02;
    z-index: 2;
    width: 200px;
    height: 100%;
    text-align: right;
}

#nameplate > a:link, #nameplate > a:visited {
    color:#fc4c02;
    text-decoration: none;
}

#maps {
    width:100%;
    z-index: 1;
    text-align: center;
}

#outline, #guess {
    margin: 8px;
    width:600px;
    display: inline-block
}

#outlinemap {
    background: #f7e2db
}

#outlinemap, #guessmap {
    border: 1px solid #fc4c02;
    cursor: pointer
}

#outlinemap:hover:active, #guessma:hover:active {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#belowmap {
    margin: auto;
    width:600px;
    display: block;
    text-align:center
}

#submit {
    text-align: center;
}

#submitButton {
    background-color: #fc4c02;
    border: 2px solid #fc4c02;
    font-family: 'Young Serif', serif;
    font-size: 24px;
    padding:4px;
}

#resetButton {
    background-color: #fc4c02;
    font-family: 'Young Serif', serif;
    font-size: 24px;
    outline:none;
    border:none;
    margin:auto;
    color: white;
    padding:6px;
    display:block;
    cursor: pointer;
}

.prompt {
    margin:4px;
    width:100%;
    text-align: center;
    font-family: 'Rokkitt';
    font-weight: 300;
    font-size: 18px;
    color: #fc4c02;
    display: inline-block;
    font-weight: 300;
}

.prompt > b {font-weight: 600;}

.prompt > a {
    text-decoration: dotted underline;
}

.prompt > a:hover {
    opacity:0.5
}

#poweredby {
    max-width: 150px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0); /* transparent */
  }

  .modal-content {
    background-color: #f7e2db;
    margin-top:150px;
    margin-right: auto;
    margin-left: auto;
    max-width:600px;
    padding: 20px;
    border: 0.5px solid #fc4c02;
  }

  #modal-p {
    text-align: center;
    font-family: 'Rokkitt', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fc4c02;
  }

  .footer {
    margin-top:20px;
    font-family: 'Rokkitt', sans-serif;
    font-size: 14px;
    color:#fc4c02;
    font-weight: 300;
    text-align: center;
  }

  a, a:visited, a:active {
    color:#fc4c02;
  }

  .footer > a {
    text-decoration: dotted underline;
    z-index:4;
  }

  .footer > a:hover {
    opacity:0.5
  }

  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 

 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
 } 